# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files (optional)
*.csv
*.xlsx
*.xls
